//in the name of Allah
#include<bits/stdc++.h>
using namespace std;
int main(){
	 long long int n, counter = 0, fn = 0, pp = 1, kid, all, s = 0, helper = 0;
	cin >> n;
	all = n;
	for ( long long int i = 1; i <= n; i *= 10){
		counter++;
	}
	int number[counter];
	for (long long int i = 0; i < counter; i++){
		if (i + 1 == counter){
			number [i] = n - 1; 
		}else{
		number[i] = 9;			
		}
		n /= 10;
	}
	for ( long long int i = 0; i < counter ; i++){
		pp *= 10;
	}
	for ( long long int i = 0; i < counter; i++){
		s += number[i];
	}
	for ( long long int i = 1; i < pp; i *= 10){
		fn += number[helper] * i;
		helper ++;
	}
	kid = all - fn;
	while (kid > 0){
		s += kid % 10;
		kid /= 10;
	}
	cout << s;
}